.App{
    max-width: 500px;
}
.clock, .lot, .logo{
    border: black solid 1px;
    border-radius: 7px;
    width: 250px;
    margin-bottom: 10px;
    padding: 15px;

}
.lot .price {
    float: right;
    text-align: right;
    font-size: 1.2rem;
}
