.App{
    max-width: 500px;
}
.clock, .lot, .logo, .loading{
    border: #ddd solid 1px;
    border-radius: 7px;
    width: 250px;
    margin-bottom: 10px;
    padding: 15px;

}
.lot .price {
    float: right;
    text-align: right;
    font-size: 1.2rem;
}
.clock {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 10px;
}

.clock .value {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.clock .icon {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.clock .icon.day {
    background-color: #ef7b00;
}

.clock .icon.night {
    background-color: #2459a7;
}
.loading{
    background-color: #dddddd;
    text-align: center;
}